body{
    font-family: Arial, Helvetica, sans-serif;
    background: whitesmoke;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

a{
    text-decoration: none;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(2px);
}

.logo h1{
    font-size: 2rem;
}

.navlinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.15rem;
}

.navlink{
    color: black;
    font-size: 1.2rem;
}

.navlink:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: aquamarine;
    text-decoration-thickness: 5px;
}

section{
    padding: 4rem 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero{
    background-color: aquamarine;
    text-align: center;
    gap:1.25rem;
    padding: 10% 10%;
}

.hero-text h1{
    font-size: 3rem;
}

.hero-text p{
    font-size: 1.5rem;
}

.cta-area{
    display: flex;
    gap: 1.5rem;
}

.cta-area a{
    font-size: 1.2rem;
    padding: 12px 16px;
    border: none;
    border-radius: 12px;
    background-color: black;
    color: white;
}

.cta-area a:hover{
    background-color: rgba(0, 0, 0, 0.6);
    transform: scale(0.95);
}

/* features-section */
#features-section{
    display: flex;
    gap: 2rem;
    background-color: azure;
    padding: 3rem 4rem;
}

.features{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    
}

.feature-card{
    width: 20rem;
    height: 10rem;
    border: 2px soild black;
    border-radius: 12px;
    padding: 1.2rem;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: aquamarine;
}

.feature-card:hover{
    transform: scale(1.05);
}

#why{
    padding: 2% 0;
}

#why h2{
    margin-bottom: 3rem;
}

.why-list{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.why-list span{
    color: white;
    background-color: black;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    padding: 18px 20px;
}

.how{
    padding: 0;
    display: flex;
    gap: 1.2rem;
    background-color: aquamarine;
    padding: 5% 0;
    color: white;
}

.how h3{
    font-size: 1.75rem;
    font-weight: 600;
    text-align: right;
}


.how-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.how-card{
    width: 20rem ;
    height: 10rem;
    background-color: aquamarine;
    border:2px solid white;
    font-size: 1.25rem;
    padding: 2rem 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#pricing{
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 7% 0;
}

.text h3{
    font-size: 2rem;
}

.text h3 span{
    color: aqua;
    font-size: 2.25rem;
}

.pricing-area{
    display: flex;
    gap: 12px;
}

.pricing-card{
    height: 10rem;
    width: 12rem;
    background-color: black;
    color: white;
    padding: 12px 12px;
    border-radius: 12px;
}

footer{
    padding: 2rem 0;
    border-top: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

footer .links, .socials{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer a{
    color: black;
    font-weight: 600;
    font-size: large;
}



